<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.10.2" targetFramework="net452" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="Eto.Forms" version="2.3.0" targetFramework="net452" />
  <package id="Transformalize" version="0.2.7-beta" targetFramework="net452" />
</packages>