<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="transformalize" type="Transformalize.Configuration.TransformalizeConfiguration, Transformalize"/>
    <section name="junkdrawer" type="JunkDrawer.Configuration, JunkDrawer"/>
    <section name="nlog" type="Transformalize.Libs.NLog.Config.ConfigSectionHandler, Transformalize"/>
  </configSections>

  <junkdrawer>
    <types sample="100"
           default="string"
           default-length="1024">
      <add type="boolean"/>
      <add type="byte"/>
      <add type="int16"/>
      <add type="int32"/>
      <add type="int64"/>
      <add type="single"/>
      <add type="double"/>
      <add type="datetime"/>
    </types>
    <delimiters>
      <add name="comma" character=","/>
      <add name="pipe" character="|"/>
      <add name="tab" character="&#009;"/>
      <add name="semicolon" character=";"/>
    </delimiters>
  </junkdrawer>

  <transformalize>
    <processes>
      
      <add name="JunkDrawer">
        <connections>
          <add name="output" database="Junk" server="localhost"/>
          <!--<add name="output" connection-string="Data Source=c:\temp\Junk.sdf;Persist Security Info=False;" provider="sqlce4" />-->
          <!--<add name="output" database="Junk" server="localhost" user="myUsername" password="myPassword" />-->
          <!--<add name="output" connection-string="Server=localhost;Database=Junk;User Id=myUsername;Password=myPassword;" />-->
        </connections>
      </add>

      <!-- if this gives you problems, just remove it-->
      <add name="JunkSummary" enabled="true">

        <connections>
          <add name="input" database="Junk" server="localhost"/>
          <add name="output" provider="html" file="JunkSummary.html"/>
        </connections>

        <entities>
          <add name="views">
            <sql-override sql="
              SELECT
              name as [view],
              vt.TABLE_NAME AS [table],
              create_date as created,
              DATEDIFF(DAY,create_date,GETDATE()) AS age
              FROM sys.views v
              INNER JOIN INFORMATION_SCHEMA.VIEW_TABLE_USAGE vt ON (v.name = vt.VIEW_NAME)
              WHERE vt.TABLE_NAME != 'TflBatch'
              AND vt.TABLE_CATALOG = 'Junk'
              ORDER BY create_date desc;"/>
            <fields>
              <add name="view" length="128" primary-key="true"/>
              <add name="table" length="128"/>
              <add name="created" type="datetime"/>
              <add name="age" type="int"/>
            </fields>
          </add>
        </entities>
      </add>

    </processes>
  </transformalize>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="false">
      <target name="file" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}-JunkDrawer.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level} | ${gdc:item=process} | ${gdc:item=entity} | ${message}"/>
      <target xsi:type="BufferingWrapper" name="mailBuffer" slidingTimeout="True" bufferSize="100" flushTimeout="120000">
        <target name="mail" xsi:type="Mail" smtpServer="x" from="x" subject="Tfl Error!" to="x"/>
      </target>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${level} | ${gdc:item=process} | ${gdc:item=entity} | ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console"/>
      <logger name="*" minlevel="Info" writeTo="file"/>
      <logger name="*" minlevel="Error" writeTo="mail"/>
    </rules>
  </nlog>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
</configuration>
