<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Cfg-NET" version="0.4.2" targetFramework="net45" />
  <package id="Cfg-NET.Reader" version="0.0.9" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net45" />
</packages>